{% extends 'base.html.twig' %}

{% block title %}Hello ModificationFormationController!{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('formulaire') }}
    {% endblock %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1 style="text-align: center"> Modifier une formation </h1>
    <div id="form" class="topBefore">


        {{ form_start(form) }}

        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.url) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.save, {'value':"modifier"}) }}



        {{ form_end(form) }}

    </div>
{% endblock %}
