{% extends 'base.html.twig' %}

{% block title %}Hello FormationsController!{% endblock %}

{% block body %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('formation') }}
    {% endblock %}
    {%  include './includes/header.html.twig' %}

    <div class="one">
        <div class="two">
            <img src="{{ asset("/image/1.png") }}" width="240px">
        </div>
    </div>

    {% if formations is not empty %}


        {%  for formation in formations %}

        <body>
    <div class="boxsoutien">
        <div class="textbox">

            <h1>{{ formation.titre}}</h1>
            <br>
            <h5>{{ formation.description}}</h5>
            <br>
            <br>

            <h5>Temps de formation (en heures) : {{ formation.duree}}</h5>
            <br>
            <a href="{{ asset('uploads/pdf/' ~ formation.url) }}">Voir le pdf</a>

        </div>
    </div>

    <?php endforeach; ?>
        </body>



        {% endfor %}

        {% else %}

            <li>  Aucune données disponible </li>

        {% endif %}





    {%  include './includes/footer.html.twig' %}

{% endblock %}
