{% extends 'base.html.twig' %}

{% block title %}Contacter-nous{% endblock %}

{% block body %}


    {% block stylesheets %}
        {{ encore_entry_link_tags('contact') }}
    {% endblock %}
    <div>


    </div>






    <!--
Question :
https://openclassrooms.com/forum/sujet/formulaire-de-contact-responsive
-->
    <div class="container">
        <h1>Formulaire de contact</h1>
        {{ form_start(form) }}

        {{ form_widget(form.email) }}

        {{ form_widget(form.message) }}


        {{ form_widget(form.save) }}

        {{ form_end(form) }}
    </div>


















    {%  include './includes/header.html.twig' %}


{% endblock %}













